In [32]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in ./2i_venv/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in ./2i_venv/lib/python3.12/site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./2i_venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./2i_venv/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in ./2i_venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./2i_venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [33]:
df = pd.read_csv("./spaceship-titanic/train.csv")

In [34]:
df.head(100)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0103_01,Earth,False,F/24/S,TRAPPIST-1e,24.0,False,0.0,NaN,0.0,0.0,17.0,Arlen Mclainez,True
96,0103_02,Earth,True,G/18/S,55 Cancri e,9.0,False,0.0,0.0,0.0,0.0,0.0,Shaele Mclainez,True
97,0103_03,Earth,True,G/18/S,TRAPPIST-1e,6.0,False,0.0,0.0,0.0,0.0,0.0,Fanne Mclainez,False
98,0105_01,Earth,NaN,F/21/P,TRAPPIST-1e,27.0,False,0.0,0.0,570.0,2.0,131.0,Carry Cleachrand,False
99,0107_01,Mars,False,D/2/S,TRAPPIST-1e,21.0,False,1743.0,5.0,17.0,0.0,0.0,Coobix Hart,False

In [35]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [36]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [40]:
homeplanet_mode = df['HomePlanet'].mode()[0]
cryosleep_mode = df['CryoSleep'].mode()[0]
cabin_mode = df['Cabin'].mode()[0]
destination_mode = df['Destination'].mode()[0]
age_mean = df['Age'].mean()
vip_mode = df['VIP'].mode()[0]
foodcourt_median = df['FoodCourt'].median()
roomservice_median = df['RoomService'].median()
shoppingmall_median = df['ShoppingMall'].median()
spa_median = df['Spa'].median()
vrdeck_median = df['VRDeck'].median()
name_mode = df['Name'].mode()[0]

df['HomePlanet'].fillna(homeplanet_mode, inplace=True)
df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
df['Cabin'].fillna(cabin_mode, inplace=True)
df['Destination'].fillna(destination_mode, inplace=True)
df['Age'].fillna(age_mean, inplace=True)
df['VIP'].fillna(vip_mode, inplace=True)
df['FoodCourt'].fillna(foodcourt_median, inplace=True)
df['RoomService'].fillna(roomservice_median, inplace=True)
df['ShoppingMall'].fillna(shoppingmall_median, inplace=True)
df['Spa'].fillna(spa_median, inplace=True)
df['VRDeck'].fillna(vrdeck_median, inplace=True)
df['Name'].fillna(name_mode, inplace=True)