In [23]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [24]:
df = pd.read_csv("./spaceship-titanic/train.csv")

In [25]:
df.head(100)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0103_01,Earth,False,F/24/S,TRAPPIST-1e,24.0,False,0.0,NaN,0.0,0.0,17.0,Arlen Mclainez,True
96,0103_02,Earth,True,G/18/S,55 Cancri e,9.0,False,0.0,0.0,0.0,0.0,0.0,Shaele Mclainez,True
97,0103_03,Earth,True,G/18/S,TRAPPIST-1e,6.0,False,0.0,0.0,0.0,0.0,0.0,Fanne Mclainez,False
98,0105_01,Earth,NaN,F/21/P,TRAPPIST-1e,27.0,False,0.0,0.0,570.0,2.0,131.0,Carry Cleachrand,False
99,0107_01,Mars,False,D/2/S,TRAPPIST-1e,21.0,False,1743.0,5.0,17.0,0.0,0.0,Coobix Hart,False

In [26]:
df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [27]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [28]:
homeplanet_mode = df['HomePlanet'].mode()[0]
cryosleep_mode = df['CryoSleep'].mode()[0]
cabin_mode = df['Cabin'].mode()[0]
destination_mode = df['Destination'].mode()[0]
age_mean = df['Age'].mean()
vip_mode = df['VIP'].mode()[0]
foodcourt_median = df['FoodCourt'].median()
roomservice_median = df['RoomService'].median()
shoppingmall_median = df['ShoppingMall'].median()
spa_median = df['Spa'].median()
vrdeck_median = df['VRDeck'].median()
name_mode = df['Name'].mode()[0]

df['HomePlanet'].fillna(homeplanet_mode, inplace=True)
df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
df['Cabin'].fillna(cabin_mode, inplace=True)
df['Destination'].fillna(destination_mode, inplace=True)
df['Age'].fillna(age_mean, inplace=True)
df['VIP'].fillna(vip_mode, inplace=True)
df['FoodCourt'].fillna(foodcourt_median, inplace=True)
df['RoomService'].fillna(roomservice_median, inplace=True)
df['ShoppingMall'].fillna(shoppingmall_median, inplace=True)
df['Spa'].fillna(spa_median, inplace=True)
df['VRDeck'].fillna(vrdeck_median, inplace=True)
df['Name'].fillna(name_mode, inplace=True)

/tmp/ipykernel_4807/351851953.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['HomePlanet'].fillna(homeplanet_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['CryoSleep'].fillna(cryosleep_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cabin'].fillna(cabin_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Destination'].fillna(destination_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(age_mean, inplace=True)
/tmp/ipykernel_4807/351851953.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VIP'].fillna(vip_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:19: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['VIP'].fillna(vip_mode, inplace=True)
/tmp/ipykernel_4807/351851953.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['FoodCourt'].fillna(foodcourt_median, inplace=True)
/tmp/ipykernel_4807/351851953.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RoomService'].fillna(roomservice_median, inplace=True)
/tmp/ipykernel_4807/351851953.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['ShoppingMall'].fillna(shoppingmall_median, inplace=True)
/tmp/ipykernel_4807/351851953.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Spa'].fillna(spa_median, inplace=True)
/tmp/ipykernel_4807/351851953.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['VRDeck'].fillna(vrdeck_median, inplace=True)
/tmp/ipykernel_4807/351851953.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name'].fillna(name_mode, inplace=True)

In [29]:
nan_matrix = df.isnull()
nan_matrix.sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [30]:
scaler = MinMaxScaler()
df['Age'] = scaler.fit_transform(pd.DataFrame(df['Age']))
df['RoomService'] = scaler.fit_transform(pd.DataFrame(df['RoomService']))
df['FoodCourt'] = scaler.fit_transform(pd.DataFrame(df['FoodCourt']))
df['ShoppingMall'] = scaler.fit_transform(pd.DataFrame(df['ShoppingMall']))
df['Spa'] = scaler.fit_transform(pd.DataFrame(df['Spa']))
df['VRDeck'] = scaler.fit_transform(pd.DataFrame(df['VRDeck']))

df = pd.get_dummies(df, columns=['HomePlanet', 'Destination'], drop_first=True)
df.drop('Name', axis='columns', inplace=True)
df.drop('Cabin', axis='columns', inplace=True)

In [31]:
df

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0001_01,False,0.493671,False,0.000000,0.000000,0.000000,0.000000,0.000000,False,True,False,False,True
1,0002_01,False,0.303797,False,0.007608,0.000302,0.001064,0.024500,0.001823,True,False,False,False,True
2,0003_01,False,0.734177,True,0.003001,0.119948,0.000000,0.299670,0.002030,False,True,False,False,True
3,0003_02,False,0.417722,False,0.000000,0.043035,0.015793,0.148563,0.007997,False,True,False,False,True
4,0004_01,False,0.202532,False,0.021149,0.002348,0.006428,0.025214,0.000083,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,False,0.518987,True,0.000000,0.228726,0.000000,0.073322,0.003066,False,True,False,False,False
8689,9278_01,True,0.227848,False,0.000000,0.000000,0.000000,0.000000,0.000000,False,False,False,True,False
8690,9279_01,False,0.329114,False,0.000000,0.000000,0.079687,0.000045,0.000000,True,False,False,False,True
8691,9280_01,False,0.405063,False,0.000000,0.035186,0.000000,0.015753,0.134049,False,True,False,False,False
8692,9280_02,False,0.556962,False,0.008795,0.157247,0.000000,0.000000,0.000497,True,True,False,False,True

In [12]:
df.to_csv("processed_titanic.csv", index=False)